@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-blue-botao: #FF8A00;
  --color-blue-background-form: #76a0c9;
  --color-blue-label: #547DA8E3;
  --color-dark-blue-background: rgb(2, 3, 129);
}
